body{
    background-color: #1C8D73;
}
h1{
    color: #ffffff;
}
.button{
    background-color: #35BDD0;
    padding: 15px 30px;
    border: 3px solid #CAD5E2;
    font-size: 20px;
    text-align: center;
    position: relative;
    margin:auto;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }